$blue: #44b6df;
$dark-grey: #333333;
$white: #ffffff;
$green: #94c03d;
$dark: #000;
$transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
  -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
