@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap");
$font-family: Lato, sans-serif;
$large-font-size: clamp(3.13rem, 2.5vw, 4.13rem);
$medium-font-size: clamp(2.13rem, 2.5vw, 3.13rem);
$small-font-size: clamp(1.13rem, 2.5vw, 2.13rem);
$x-small-font-size: clamp(1rem, 2.5vw, 1.13rem);
$font-weight-100: 100;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-700: 700;
