.card {
  font-family: $font-family;
  background-color: $white;
  border: 1px solid $green;
  padding: 3rem;
  .card-title {
    font-size: $medium-font-size;
    padding: 0.5rem 0;
  }
  .card-contents {
    padding: 1.5rem 0;
    line-height: 1.5;
  }
}
